################################################################################
##             EBB SB2209(RP2040) Fans
################################################################################

[multi_pin cooling_fan]
pins:H36:PB0, H36:PB2
################################################################################
## Part Cooling Fan
################################################################################
[fan]              # Part Cooling
pin: multi_pin:cooling_fan               # Fan pin
kick_start_time: 1.0             # Startup time
off_below: 0.10                  # Turn off fan below this value
max_power: 1                     # Maximum power


################################################################################
## Hotend Fan
################################################################################
[heater_fan Hotend_Fan]
pin: H36:PB12
tachometer_pin: H36:PB14
heater: extruder
heater_temp: 50.0
tachometer_ppr: 2
tachometer_poll_interval: 0.0009   # Delta poll interval from https://www.replimat.eu/delta-asb02505sha-ay6b/rt10134
shutdown_speed: 1                  # Keep hotend fan running on shutdown to prevent clogs