################################################################################
##	                       H36 Config
################################################################################

[include extruder.cfg]
[include led.cfg]
[include fans.cfg]


#-------------------------------------------------------------------------------
[adxl345 ebb]
cs_pin: H36:PA4                 # Chip select pin
spi_software_sclk_pin: H36:PA5    # SPI clock pin
spi_software_mosi_pin: H36:PA6    # SPI master out slave in pin
spi_software_miso_pin: H36:PA7    # SPI master in slave out pin
axes_map: z,-y,x                       # Axis mapping settings

 
#-------------------------------------------------------------------------------
[temperature_sensor H36_NTC]            # EBB_NTC temperature sensor configuration
sensor_type: Generic 3950               # Sensor type
sensor_pin: H36:PA0               # Sensor pin
