[mcu]
canbus_uuid:3622b0f3e0f4
[include BTT_Manta_m8p/manta.cfg]


# #-------------------------------------------------------------------------------
# ## EBB SB2209
# #-------------------------------------------------------------------------------
[mcu H36]
canbus_uuid: d110392b9e55
[include H36/h36.cfg]

#-------------------------------------------------------------------------------
## Cartographer
#-------------------------------------------------------------------------------
[mcu cartographer]
canbus_uuid: b0b3e82944e1
[include Cartographer/carto.cfg]


#-------------------------------------------------------------------------------
## CB2
#-------------------------------------------------------------------------------
#[mcu CB2]
#serial: /tmp/klipper_host_mcu


################################################################################
## Resonance Tester
################################################################################
[resonance_tester]
probe_points: 150, 150, 20             # Probe point positions
# accel_chip: adxl345 ebb              # Ebb adxl
# accel_chip: lis2dw SHT               # SHT lis2dw
accel_chip: adxl345 carto              # Carto adxl